.entityField{
    display: flex;
    padding: 5px;
    border: 1px solid gray;
    width: 20ch;
}
.entityField_name{
    font-weight: 600;
    margin-right: 10px;
}
.entityField_value{
    background-color: palegreen;
}

button{
    margin: 10px;
    padding: 8px;
    width: 80px;
    border-radius: 99px;
    border: 2px solid transparent;
}
button:hover{
    border: 2px solid black;
}
.editButton{
    background-color: paleturquoise;
}
.deleteButton{
    background-color: palevioletred;
}